html {
  --color-blue: #0095F6;
  --sidebar-width: 240px;
  --sidebar-closed-width: 90px;
  --hover-overlay: rgba(255, 255, 255, .1);

  &[data-theme="dark"] {
    --bg-color: #000;
    --color-main: #fff;
    --color-secondary: #a8a8a8;
    --main-border-color: #262626;
  }
  &[data-theme="light"] {
    --bg-color: #fff;
    --color-main: #000;
    --color-secondary: #737373;
    --main-border-color: #DBDBDB;
  }
}
